<div class="card mb-4 shadow-sm">
  <div class="card-header">
    <%= link_to member_path(post.member.id) do %>
      <%= image_tag post.member.get_profile_image %>
    <% end %>
  </div>
  <% if post.post_images.present? %>
    <div class="card-img-top slicker_non_auto">
      <% post.post_images.each do |image| %>
        <%= link_to post_path(post.id) do %>
          <%= image_tag(image, width: "200px") %>
        <% end %>
      <% end %>
    </div>
    <p class="text-right mr-3">image:<%= post.post_images.count %></p>
  <% end %>
  <div class="card-body">
    <span id="like_<%= post.id %>"><%= render "public/likes/like", post: post %></span>
    <span>
      <%= render "public/comments/count", post: post %>
    </span><br><br>
    <%= link_to post_path(post.id) do %>
      <h5 class="card-title"><%= post.title %></h4>
    <% end %>
    <p class="card-text"><%= post.body.truncate(50) %></p>  <!--50字まで表示-->
  </div>
  <div class="card-footer">
    <%= render 'public/posts/time', post: post %>
  </div>
</div>