<div class="container">
  <div class="row">
    <div class="mx-auto col-10">
      <h2>みんなの投稿</h2>
      <p>気になる投稿を探しましょう！</p>
      <p>
        <%= link_to "新着順", posts_path(latest: "true") %>
        |<%= link_to "古い順", posts_path(old: "true") %>
        |<%= link_to "いいねが多い順(週間)", posts_path(week_likes: "true") %>
      </p>
    </div>
  </div>
  <div class="card-deck">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <%= render "index", post: post %>
      </div>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>