<div class="container">
  <div class="row">
    <div class="mx-auto col-10">
      <h2>投稿する</h2>
      <p>写真や感じていることを投稿しましょう！</p>
      <%= flash[:danger] %>
      <%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>
        <div class="form-group">
          <%= image_tag 'Dogs-logo2.PNG', style: "width: 20px;" %>
          <%= f.label :post_images, "写真" %>
          <%= f.file_field :post_images, class: "form-control-file", multiple: true %>
        </div>
        <div class="form-group">
          <%= image_tag 'Dogs-logo2.PNG', style: "width: 20px;" %>
          <%= f.label :title, "タイトル(30字まで)※必須" %>
          <%= f.text_field :title, class: "form-control", :placeholder => "自慢のペットです！" %>
        </div>
        <div class="form-group">
          <%= image_tag 'Dogs-logo2.PNG', style: "width: 20px;" %>
          <%= f.label :body, "内容" %>
          <%= f.text_area :body, rows: 10, class: "form-control", :placeholder => "いいね、コメントお願いします！" %>
        </div>
        <div class="form-group">
          <%= f.submit "投稿する", class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>