<div class="container">
  <div class="row mb-3">
    <div class="mx-auto col-10">
      <h2>投稿詳細</h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="mx-auto col-8">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <div class="float-left">
            <%= link_to member_path(@post.member.id) do %>
              <%= image_tag @post.member.get_profile_image, size: "40x40" %>
            <% end %>
          </div>
          <div class="float-right">
            <% if @post.member == current_member %>
              <%= link_to edit_post_path(@post.id), class: "btn btn-outline-secondary" do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to post_path, method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-outline-danger" do %>
                <i class="fas fa-trash"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <% if @post.post_images.present? %>
          <div class="card-img-top slicker_non_auto">
            <% @post.post_images.each do |image| %>
              <%= link_to image_tag(image, width: "400px"), url_for(image) %>
            <% end %>
          </div>
          <p class="text-right mr-3">image:<%= @post.post_images.count %></p>
        <% end %>
        <div class="card-body">
          <span id="like_<%= @post.id %>"><%= render "public/likes/like", post: @post %></span>
          <span id="comments_<%= @post.id %>"><%= render "public/comments/count", post: @post %></span><br><br>
          <h3 class="card-title"><%= @post.title %></h3>
          <p class="card-text" style="font-size: 20px;"><%= @post.body %></p>
        </div>
        <div class="mt-5 mb-5" id="comment_area"><%= render "public/comments/comments", post: @post, comment: @comment %></div>
        <div class="card-footer"><%= render "time", post: @post %></div>
      </div>
    </div>
  </div>
</div>