<div class="text-center">
  <h1 class='mb-3'>ようこそDogsへ！</h1>
  <div class="slicker", style="width: 700px;">
    <%= image_tag 'photo2.png' %>
    <%= image_tag 'photo4.png' %>
    <%= image_tag 'photo5.png' %>
  </div>
  <p class='mb-3'>
    Dogsは、自分の飼っているペットの写真を投稿し、犬好きと交流を深められるSNSサイトです。<br><br>
    もちろんペットを飼っていない方でも、投稿を見たり、コメントしたりすることができます。<br><br>
    あなたの可愛い愛犬の写真を世界に発信しましょう！<br><br>
    ゲストとしてログインする場合は右上の「ゲストログイン」から行えます。<br><br>
    <strong>※新規会員登録はログアウト後行ってください。</strong>
  </p>
  <div class='mb-3'>
    <%= link_to new_member_registration_path, class: 'text-dark mb-3' do %>
      <%= image_tag 'Dogs-logo2.PNG', style: "width: 20px;" %>新規会員登録
    <% end %>
  </div>
  <div>
    <%= link_to new_member_session_path, class: 'text-dark' do %>
      <%= image_tag 'Dogs-logo2.PNG', style: "width: 20px;" %>会員ログイン
    <% end %>
  </div>
</div>