<div class="container">
  <div class="row">
    <div class="mx-auto col-10">
      <h2>投稿一覧</h2>
      <p>
        <%= link_to "新着順", admin_posts_path(latest: "true") %>
        |<%= link_to "古い順", admin_posts_path(old: "true") %>
        |<%= link_to "人気が多い順(週間)", admin_posts_path(week_likes: "true") %>
      </p>
    </div>
  </div>
  <div class="card-deck">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <%= render "admin/posts/index", post: post %>
      </div>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>